body {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  background: rgb(33, 19, 0);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  text-align: center;
  background-color: lightgrey;
}

header {
  padding: 130px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/solomon-wada-IW_edtdqcVo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
header h3 {
  text-align: center;
  color: white;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 20px;
  margin: 0 auto;
}
header h1 {
  font-size: 120px;
  text-align: center;
  color: white;
  margin: 0 auto;
}
header a {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  background: rgb(90, 53, 6);
  border: 1px solid rgb(90, 53, 6);
  padding: 10px 20px;
  margin-top: 15px;
}
main {
  background-color: white;
}

.img-responsive {
  width: 100%;
}
main h2 {
  font-size: 48px;
  margin: 0;
  margin-bottom: 20px;
}
main h3 {
  font-size: 18px;
  color: grey;
  margin: 0;
  margin-bottom: 20px;
}
main h4 {
  font-size: 24px;
  margin: 0;
}
main h5 {
  font-size: 16px;
  margin: 0;
}
main p {
  font-family: "DM Sans", serif;
  font-size: 16px;
  color: black;
}
.button {
  display: block;
  color: white;
  background: rgb(90, 53, 6);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
.grid {
  display: grid;
  grid-gap: 20px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-three-column-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background-color: white;
}
.card-header.grid {
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 16/11;
}
.card-body {
  background-color: white;
  text-align: left;
  margin-top: 30px;
  padding: 20px;
}
.card-footer {
  padding: 20px 30px;
  margin: 0;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/mathias-owa-martins-2mbQ1sxVZ0Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

footer h3 {
  font-family: "Bebas Neue", serif;
}
footer p {
  opacity: 0.4;
}
footer li {
  list-style: none;
  margin: 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h3 {
    font-size: 8px;
    letter-spacing: 5px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  section {
    padding: 30px;
  }
  img-responsive {
    margin-bottom: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
