body {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  background: rgb(33, 19, 0);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 130px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/solomon-wada-IW_edtdqcVo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
header h3 {
  text-align: center;
  color: white;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 20px;
  margin: 0 auto;
}
header h1 {
  font-size: 120px;
  text-align: center;
  color: white;
  margin: 0 auto;
}
header a {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  background: rgb(90, 53, 6);
  border: 1px solid rgb(90, 53, 6);
  padding: 10px 20px;
  margin-top: 15px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/mathias-owa-martins-2mbQ1sxVZ0Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 100px 0;
}

footer h3 {
  font-family: "Bebas Neue", serif;
}
footer p {
  opacity: 0.4;
}
footer li {
  list-style: none;
  margin: 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h3 {
    font-size: 8px;
    letter-spacing: 5px;
  }
}
